div.background {
  width: 100%;
  height: 750px;
  /* background-image: url('background_pic.jpg'); 
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat; */
}

.text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  background-color: #79bd9a;
  border: 1px solid #3b8686;
  /* CSS3 standard */
  opacity:0.9;
  padding: 50PX;
}

.company_info {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: #79bd9a;
    border: 1px solid #3b8686;
    /* CSS3 standard */
    opacity:0.9;
    padding: 30PX;
  }

  .services{
      text-align: center;
      padding:20px;
      font-size: 36px;
      background-color: #a8dba8;
  }

  .table_services{
      width: 100%;
      background-color: #a8dba8;
      text-align: center;
      font-size: 24px;
  }

  
  .table_staffs{
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 24px;
    padding: 0;
}

.team{
    text-align: center;
    padding:20px;
    font-size: 36px;
    background-color: #fff;
}

.customer{
    background-color:#cff09e;
    text-align: left;
    padding-left: 400px;
    font-size: 18px;
}