html, body{
    height: 100%;
}
.main{
    min-height: 100%;
    padding-bottom: 100px;
}
.footer{
    position: relative;
    bottom: 10px;
    height: 50px;
    margin-left: 300px;
}
.title {
  text-align: center;
}
.food {
  text-align: center;
  margin-top: 25px;
}
.block {
  list-style: height 2.5em;
}
.line {
  padding-bottom: 7px;
}

.tab {
  overflow: hidden;
  background-color: #99ff99;
  margin-left: 300px;
  margin-right: 300px;

}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 16px;
  transition: 0.3s;
  font-size: 24px;
  font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #d6f5d6;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffe6b3;
}

/* Style the tab content */
.tabcontent {
  margin-left: 300px;
  margin-right: 300px;
  display: none;
  padding: 3px 12px 20px 15px;
  border: 1px solid #ccc;
  border-top: none;
  font-family: arial, verdana, helvetica;
  font-size: 20px;
  list-style: 1.5em;
}

/*category tabs*/

.cat_tabcontent {
  display: none;
}

.category_tab button {
  
  background-color: #d6f5d6;
  display: block;
  color: black;
  padding: 20px 13px;
  width: 20%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.category_tab th {
  width: 10%;
  float: top;
}

.category_tab button:hover {
  background-color:#e6ffe6;
}

.category_tab button.active {
  background-color: #ffe6b3;
}